<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <h1><a href="index.html"><img class="mb-2" style="width: 96px;" src="../assets/images/logo.png" alt="logo"></a></h1>
      <button class="navbar-toggler header-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link header-nav-item-style" href="#">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-nav-item-style" href="#">瑜珈空間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-nav-item-style" href="#">當月課表</a>
          </li>
        </ul>
        <div class="d-flex flex-column flex-lg-row gap-3">
            <a href="#" class="btn btn-transparent btn-transparent-style">立即預約</a>
            <a href="#" class="btn btn-transparent btn-transparent-style">聯絡我們</a>
        </div>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>