<!DOCTYPE html>
<html lang="zh_TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁 - DOYOGA</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
  <header class="bg-secondary-100">
    <section class="container">
      <%- include('./layout/header'); -%>
    </section>
  </header>
  <section class="bg bg-main-banner mb-8 mb-lg-9 mb-lg-9">
    <div class="container h-100 d-flex">
      <div class="my-auto" data-aos="fade-up" data-aos-duration="1000">
        <h6 class="mb-2">健身輕時尚</h6>
        <h2 class="fs-3 mb-3">DOYOGA，做你的瑜珈</h2>
        <h3 class="fs-5 mb-3 fw-normal">多給自己一點時間享受靜謐，傾聽內心的聲音。</h3>
        <div>
          <a href="#" class="fs-5 btn-secondary-100 btn-secondary-100-style me-2">立即預約</a>
          <a href="#" class="fs-5 btn-primary-100 btn-primary-100-style">課程介紹</a>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-10">
    <article class="text-center mb-5 mb-lg-8">
      <h4 class="mb-1 text-primary-200">感受身心，活在當下</h4>
      <h5 class="text-primary-100">DOYOGA 可以帶給你...</h5>
    </article>
    <div class="row row-cols-md-3 row-cols-1">
      <div class="col mb-4 mb-md-0" data-aos="fade-up">
        <div class="card-text-white card bg" style="background-image: url(../assets/images/yoga-1.jpeg);">
          <article class="p-5 mt-auto">
            <h4 class="text-white mb-1">整體健身</h4>
            <h5 class="text-white fw-light">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</h5>
          </article>
        </div>
      </div>
      <div class="col mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="card-text-white card bg" style="background-image: url(../assets/images/yoga-2.jpeg);">
          <article class="p-5 mt-auto">
            <h4 class="text-white mb-1">整體健身</h4>
            <h5 class="text-white fw-normal">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</h5>
          </article>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="350">
        <div class="card-text-white card bg" style="background-image: url(../assets/images/yoga-3.jpeg);">
          <article class="p-5 mt-auto">
            <h3 class="text-white mb-1">整體健身</h3>
            <h5 class="text-white fw-normal">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</h5>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="bg bg-secondary-100 mb-10">
    <div class="container py-10 d-lg-none">
      <article class="text-center mb-5 mb-lg-8">
        <h4 class="mb-1 text-primary-200">頂尖師資、專業教學</h4>
        <h5 class="text-primary-100 fw-light">強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。</h5>
      </article>
      <div class="d-flex flex-column gap-3">
        <div class="avatar-bg-white position-relative">
          <div class="d-flex align-items-center p-3">
            <div class="flex-shrink-0">
              <img src="../assets/images/teacher-1.png" alt="teacher1">
            </div>
            <article class="ms-3">
              <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacher1" role="button" aria-expanded="false" aria-controls="collapseExample">
                Carol Tang 老師 <br>
                <span class="fs-6">教學經歷 10 年</span>
              </a>
              <div class="collapse" id="collapseTeacher1">
                <p class="mt-3">
                  瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="avatar-bg-white position-relative">
          <div class="d-flex align-items-center p-3">
            <div class="flex-shrink-0">
              <img src="../assets/images/teacher-2.png" alt="teacher2">
            </div>
            <article class="ms-3">
              <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacger2" role="button" aria-expanded="false" aria-controls="collapseTeacger2">
                Carol Tang 老師 <br>
                <span class="fs-6">教學經歷 10 年</span>
              </a>
              <div class="collapse" id="collapseTeacger2">
                <p class="mt-3">
                  瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="avatar-bg-white position-relative">
          <div class="d-flex align-items-center p-3">
            <div class="flex-shrink-0">
              <img src="../assets/images/teacher-3.png" alt="teacher3">
            </div>
            <article class="ms-3">
              <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacher3" role="button" aria-expanded="false" aria-controls="collapseTeacher3">
                Carol Tang 老師 <br>
                <span class="fs-6">教學經歷 10 年</span>
              </a>
              <div class="collapse" id="collapseTeacher3">
                <p class="mt-3">
                  瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-10 d-none d-lg-block">
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-4 object-fit-cover" style="width: 100%;height: 628px;" src="../assets/images/yoga-4.jpeg" alt="yoga4">
        </div>
        <div class="col-lg-6">
          <article class="my-5 mb-lg-8">
            <h4 class="mb-1 text-primary-200">頂尖師資、專業教學</h4>
            <h5 class="text-primary-100 fw-light">強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。</h5>
          </article>
          <div class="d-flex flex-column gap-3" data-aos="fade-left" data-aos-duration="700">
            <div class="avatar-bg-white avatar-bg-white-lg-hover position-relative">
              <div class="d-flex align-items-center px-9 py-5">
                <div class="flex-shrink-0">
                  <img src="../assets/images/teacher-1.png" alt="teacher1">
                </div>
                <article class="ms-3">
                  <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacher1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Carol Tang 老師 <br>
                    <span class="fs-6">教學經歷 10 年</span>
                  </a>
                  <div class="collapse" id="collapseTeacher1">
                    <p class="mt-3">
                      瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="avatar-bg-white avatar-bg-white-lg-hover position-relative">
              <div class="d-flex align-items-center px-9 py-5">
                <div class="flex-shrink-0">
                  <img src="../assets/images/teacher-2.png" alt="teacher2">
                </div>
                <article class="ms-3">
                  <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacger2" role="button" aria-expanded="false" aria-controls="collapseTeacger2">
                    Carol Tang 老師 <br>
                    <span class="fs-6">教學經歷 10 年</span>
                  </a>
                  <div class="collapse" id="collapseTeacger2">
                    <p class="mt-3">
                      瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="avatar-bg-white avatar-bg-white-lg-hover position-relative">
              <div class="d-flex align-items-center px-9 py-5">
                <div class="flex-shrink-0">
                  <img src="../assets/images/teacher-3.png" alt="teacher3">
                </div>
                <article class="ms-3">
                  <a class="stretched-link text-gray-100 fs-5 fw-normal" data-bs-toggle="collapse" href="#collapseTeacher3" role="button" aria-expanded="false" aria-controls="collapseTeacher3">
                    Carol Tang 老師 <br>
                    <span class="fs-6">教學經歷 10 年</span>
                  </a>
                  <div class="collapse" id="collapseTeacher3">
                    <p class="mt-3">
                      瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                    </p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-10">
    <div class="d-md-none">
      <article class="mb-5" data-aos="fade-up">
        <h4 class="mb-1 text-primary-200">舒適空間、靜心放鬆</h4>
        <h5 class="text-primary-100 fw-light">我們都渴望平靜安穩的生活，擁有一處能夠靜心的角落，安撫每天繁雜忙碌的心。</h5>
      </article>
      <div class="position-relative" data-aos="fade-up">
        <a class="icon-link icon-link-hover fs-5 mb-3 text-primary-200 stretched-link" href="#">
          環境介紹
          <i class="bi bi-arrow-right mb-2" aria-hidden="true"></i>
        </a>
        <div class="d-flex justify-content-between">
          <img class="object-fit-cover banner-img-classroom-intro" src="../assets/images/yoga-5.jpg" alt="classroom">
          <img class="object-fit-cover banner-img-classroom-intro" src="../assets/images/yoga-6.jpg" alt="classroom">
        </div>
      </div>
    </div>
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-4" data-aos="fade-up">
          <img class="banner-img-lg-classroom-intro object-fit-cover" src="../assets/images/yoga-5.jpg" alt="classroom">
        </div>
        <div class="col-md-2 d-flex flex-column justify-content-between" data-aos="fade-up">
          <img class="banner-img-sm-classroom-intro object-fit-cover" src="../assets/images/yoga-6.jpg" alt="classroom">
          <img class="banner-img-sm-classroom-intro object-fit-cover" src="../assets/images/yoga-7.jpg" alt="classroom">
        </div>
        <div class="col-md-6 my-auto" data-aos="fade-up">
          <article class="mb-5 position-relative">
            <h4 class="mb-1 text-primary-200">舒適空間、靜心放鬆</h4>
            <h5 class="text-primary-100 fw-light mb-4">我們都渴望平靜安穩的生活，擁有一處能夠靜心的角落，安撫每天繁雜忙碌的心。</h5>
            <a class="icon-link icon-link-hover fs-5 mb-3 text-primary-200 stretched-link" href="#">
              環境介紹
              <i class="bi bi-arrow-right mb-2" aria-hidden="true"></i>
            </a>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="bg bg-secondary-100 mb-10">
    <div class="container py-10 d-md-flex gap-x-7">
      <article class="mb-5 position-relative align-self-center" data-aos="fade-up">
        <h4 class="mb-1 text-primary-200">精心設計、課程多元</h4>
        <h5 class="text-primary-100 fw-light mb-4">教師帶領多元課程，釋放壓力，與身心常見的緊繃不適溫柔和解。</h5>
        <div class="d-none d-md-block">
          <a class=" icon-link icon-link-hover fs-5 mb-3 text-primary-200 stretched-link" href="#">
            課程介紹
            <i class="bi bi-arrow-right mb-2" aria-hidden="true"></i>
          </a>
        </div>
      </article>
      <div class="position-relative w-md-50" data-aos="fade-up">
        <a class="d-md-none icon-link icon-link-hover fs-5 mb-3 text-primary-200 stretched-link" href="#">
          課程介紹
          <i class="bi bi-arrow-right mb-2" aria-hidden="true"></i>
        </a>
        <div class="d-flex flex-wrap justify-content-between gap-y-3 gap-md-y-7">
          <img class="object-fit-cover banner-img-course-intro" src="../assets/images/yoga-8.jpg" alt="course">
          <img class="object-fit-cover banner-img-course-intro" src="../assets/images/yoga-9.jpg" alt="course">
          <img class="object-fit-cover banner-img-course-intro" src="../assets/images/yoga-10.jpg" alt="course">
          <img class="object-fit-cover banner-img-course-intro" src="../assets/images/yoga-11.jpg" alt="course">
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-10">
    <article class="text-center mb-5 position-relative align-self-center">
      <h4 class="mb-1 text-primary-200">方案選擇</h4>
      <h5 class="text-primary-100 fw-light mb-4">DOYOGA 可以帶給你...</h5>
    </article>
    <div class="d-md-none swiper swiperCardCourse">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-11.jpg" class="object-fit-cover card-img-top mb-3" alt="course1">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">首次體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $450 / 次</p>
              <p class="card-text">分基礎、中級、高級可以選擇。 <br>初次至 DOYOGA 上課建議選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-12.jpg" class="object-fit-cover card-img-top mb-3" alt="course2">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">短期體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $1800 / 月</p>
              <p class="card-text">分基礎、中級、高級可以選擇。 <br>想試著培養瑜珈習慣者可以選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-13.jpg" class="object-fit-cover card-img-top mb-3" alt="course3">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">長期體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $5600 / 季</p>
              <p class="card-text">分基礎、中級、高級可以選擇。<br> 有長期習慣做瑜伽者建議選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="d-none d-md-block d-lg-none">
      <div class="d-flex position-relative card-course-row mb-5">
        <div class="bg card-course-row-bg" style="background-image: url(../assets/images/yoga-11.jpg);"></div>
        <div class="p-5 d-flex flex-column">
          <h5 class="mb-1 text-primary-200">長期體驗</h5>
          <p class="mb-2 text-primary-100 fs-5">NT $5600 / 季</p>
          <p>分基礎、中級、高級可以選擇。有長期習慣做瑜伽者建議選擇此方案。</p>
          <a href="#" class="d-block btn btn-primary-100 btn-primary-100-style stretched-link mt-auto">選擇課程</a>
        </div>
      </div>
      <div class="d-flex position-relative card-course-row mb-5">
        <div class="bg card-course-row-bg" style="background-image: url(../assets/images/yoga-12.jpg);"></div>
        <div class="p-5 d-flex flex-column">
          <h5 class="mb-1 text-primary-200">長期體驗</h5>
          <p class="mb-2 text-primary-100 fs-5">NT $5600 / 季</p>
          <p>分基礎、中級、高級可以選擇。有長期習慣做瑜伽者建議選擇此方案。</p>
          <a href="#" class="d-block btn btn-primary-100 btn-primary-100-style stretched-link mt-auto">選擇課程</a>
        </div>
      </div>
      <div class="d-flex position-relative card-course-row">
        <div class="bg card-course-row-bg" style="background-image: url(../assets/images/yoga-13.jpg);"></div>
        <div class="p-5 d-flex flex-column">
          <h5 class="mb-1 text-primary-200">長期體驗</h5>
          <p class="mb-2 text-primary-100 fs-5">NT $5600 / 季</p>
          <p>分基礎、中級、高級可以選擇。有長期習慣做瑜伽者建議選擇此方案。</p>
          <a href="#" class="d-block btn btn-primary-100 btn-primary-100-style stretched-link mt-auto">選擇課程</a>
        </div>
      </div>

    </div>
    <div class="d-none d-lg-block">
      <div class="row row-cols-lg-3">
        <div class="col">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-11.jpg" class="object-fit-cover card-img-top mb-3" alt="course1">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">首次體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $450 / 次</p>
              <p class="card-text">分基礎、中級、高級可以選擇。 <br>初次至 DOYOGA 上課建議選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-12.jpg" class="object-fit-cover card-img-top mb-3" alt="course2">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">短期體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $1800 / 月</p>
              <p class="card-text">分基礎、中級、高級可以選擇。 <br>想試著培養瑜珈習慣者可以選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-course-column">
            <img src="../assets/images/yoga-13.jpg" class="object-fit-cover card-img-top mb-3" alt="course3">
            <div class="card-body px-5">
              <h5 class="fs-4 card-title mb-1">長期體驗</h5>
              <p class="fs-4 text-primary-100 text-center mb-2">NT $5600 / 季</p>
              <p class="card-text">分基礎、中級、高級可以選擇。<br> 有長期習慣做瑜伽者建議選擇此方案。</p>
            </div>
            <div class="p-5">
              <a href="#" class="d-block fs-4 btn btn-primary-100 btn-primary-100-style stretched-link">選擇課程</a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <section class="bg bg-secondary-100">
    <div class="container py-10">
      <article class="text-center mb-5 position-relative align-self-center">
        <h4 class="mb-1 text-primary-200">聽聽他們怎麼說</h4>
      </article>
      <div class="swiper swiperCardReview">
        <div class="swiper-wrapper">
          <!-- 1 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-1.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">Joanne <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">服務很好、設備優良！</p>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-2.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">穎旻 <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">上課後身體健康很多</p>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-3.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">子琪 <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">上課很有趣！</p>
              </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-4.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">Joanne <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">服務很好、設備優良！</p>
              </div>
            </div>
          </div>
          <!-- 5 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-5.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">Joanne <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">服務很好、設備優良！</p>
              </div>
            </div>
          </div>
          <!-- 6 -->
          <div class="swiper-slide">
            <div class="card-review d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="object-fit-cover" src="../assets/images/user-6.png" alt="use1">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-primary-200 mb-2">Joanne <time class="fs-sm ms-2" datetime="2020-10-17">Oct 17 2020</time></p>
                <div class="text-primary-100 fs-5 mb-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="text-primary-200">服務很好、設備優良！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between px-3 d-md-none">
        <div><i class="bi bi-arrow-left swiperCardReview-button-prev"></i></div>
        <div><i class="bi bi-arrow-right swiperCardReview-button-next"></i></div>
      </div>
      
    </div>
  </section>
  <footer class="bg-primary-200 py-5">
    <%- include('./layout/footer'); -%>
  </footer>
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script type="module" src="../main.js"></script>

</body>
</html>